@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Splash&display=swap');

:root {
  --main-font: 'Poppins', sans-serif;
  --logo-font: 'Splash', cursive;
  --main: #11a811;
  --main-light: #cdfacd;
  --main-dark: #0d680d;
  --support: #f0612d;
  --support-light: #fad3c5;
  --support-dark: #ff4500;
  --dark: #111;
  --light: #fffcfa;
  --grey-dark: #333;
  --grey-medium: #888;
  --grey-light: #ccc;
  --grey-light-extra: #eee;  
}

* {
  font-family: var(--main-font);
  font-weight: 300;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.main {
  color: var(--main);
}

.support {
  color: var(--support)
}


.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid-center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 500;
  letter-spacing: -0.5px;
  color: var(--dark);
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  color: var(--grey-medium);
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn-full,
.btn-outline {
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  text-transform: uppercase;
  outline: none;
  transition: all 0.3s;
}

.btn-main {
  border: 1px solid var(--main);
  background-color: var(--main);
  color: var(--light)
}

.btn-main:hover {
  border-color: var(--main-dark);
  background-color: var(--main-dark);
}

.btn-main-outline {
  border: 1px solid var(--main);
  background-color: transparent;
  color: var(--main);
}

.btn-main-outline:hover {
  border-color: var(--main-dark);
  color: var(--main-dark)
}

.btn-support {
  border: 1px solid var(--support);
  background-color: var(--support);
  color: var(--light)
}

.btn-support:hover {
  border-color: var(--support-dark);
  background-color: var(--support-dark);
}

.btn-support-outline {
  border: 1px solid var(--support);
  background-color: transparent;
  color: var(--support);
}

.btn-support-outline:hover {
  border-color: var(--support-dark);
  color: var(--support-dark)
}

.btn-dark {
  border: 1px solid var(--dark);
  background-color: var(--dark);
  color: var(--light)
}

.btn-dark:hover {
  border-color: var(--grey-dark);
  background-color: var(--grey-dark);
}

.btn-dark-outline {
  border: 1px solid var(--dark);
  background-color: transparent;
  color: var(--dark);
}

.btn-dark-outline:hover {
  border-color: var(--grey-dark);
  color: var(--grey-dark)
}

.btn-light {
  border: 1px solid var(--light);
  background-color: var(--light);
  color: var(--dark)
}

.btn-light:hover {
  border-color: var(--grey-light);
  background-color: var(--grey-light);
}

.btn-light-outline {
  border: 1px solid var(--light);
  background-color: transparent;
  color: var(--light);
}

.btn-light-outline:hover {
  border-color: var(--grey-light);
  color: var(--grey-light)
}

.link {
  display: inline-block;
  color: var(--support);
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover {
  color: var(--support-dark);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: var(--support);
}

.margin-right-sm {
  margin-right: 1.6rem;
}

.margin-right-md {
  margin-right: 4.8rem;
}

.center-text {
  text-align: center;
}.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-light);
  height: 9.6rem;
  padding: 0 4.8rem;
}

.strong {
  font-weight: 400;
}

.logo {
  font-family: var(--logo-font);
  font-size: 4rem;
  color: var(--main);
}

.main-nav-list {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link {
  display: inline-block;
  color: var(--grey-dark);
  font-weight: 400;
  font-size: 1.8rem;
  padding: 1rem; /* Take out later */
  transition: all 0.3s;
}

.main-nav-link:hover {
  color: var(--main);
}

.main-nav-link.nav-cta {
  padding: 1.2rem 2.4rem;
  border-radius: 10px;
  color: var(--light);
  background-color: var(--main);
}

.main-nav-link.nav-cta:hover {
  background-color: var(--main-dark);
}

.section-hero {
  background-color: var(--light);
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 2px solid var(--grey-dark);
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 400;
}

.delivered-text-span {
  color: var(--main);
}

.section-featured {
  background-color: var(--light);
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2.4rem;
  color: var(--grey-medium);
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

.section-how {
  padding: 9.6rem 0;
  background-color: var(--light)
}

.step-number {
  font-size: 8.6rem;
  font-weight: 500;
  color: var(--main);
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: '';
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: rgb(174, 95, 5);
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: rgb(114, 205, 241);
  z-index: -1;
}

.step-img {
  width: 35%;
}

.section-meals {
  background-color: var(--light);
  padding: 9.6rem 0;
}

