@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Splash&display=swap');

:root {
  --main-font: 'Poppins', sans-serif;
  --logo-font: 'Splash', cursive;
  --main: #11a811;
  --main-light: #cdfacd;
  --main-dark: #0d680d;
  --support: #f0612d;
  --support-light: #fad3c5;
  --support-dark: #ff4500;
  --dark: #111;
  --light: #fffcfa;
  --grey-dark: #333;
  --grey-medium: #888;
  --grey-light: #ccc;
  --grey-light-extra: #eee;  
}

* {
  font-family: var(--main-font);
  font-weight: 300;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.logo {
  font-family: var(--logo-font);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-light);
  height: 9.6rem;
  padding: 0 4.8rem;
}

.main-nav-list {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: var(--grey-dark);
  font-weight: 500;;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--main);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 0.3rem;
  color: var(--light);
  background-color: var(--main);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--main-dark);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 500;
  letter-spacing: -0.5px;
}

.heading-primary {
  color: var(--dark);
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  color: var(--main);
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  color: var(--support);
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--grey-medium);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn-full,
.btn-outline {
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  outline: none;
  transition: all 0.3s;
}

.btn-main {
  border: 1px solid var(--main);
  background-color: var(--main);
  color: var(--light)
}

.btn-main:hover {
  border-color: var(--main-dark);
  background-color: var(--main-dark);
}

.btn-main-outline {
  border: 1px solid var(--main);
  background-color: transparent;
  color: var(--main);
}

.btn-main-outline:hover {
  border-color: var(--main-dark);
  color: var(--main-dark)
}

.btn-support {
  border: 1px solid var(--support);
  background-color: var(--support);
  color: var(--light)
}

.btn-support:hover {
  border-color: var(--support-dark);
  background-color: var(--support-dark);
}

.btn-support-outline {
  border: 1px solid var(--support);
  background-color: transparent;
  color: var(--support);
}

.btn-support-outline:hover {
  border-color: var(--support-dark);
  color: var(--support-dark)
}

.btn-dark {
  border: 1px solid var(--dark);
  background-color: var(--dark);
  color: var(--light)
}

.btn-dark:hover {
  border-color: var(--grey-dark);
  background-color: var(--grey-dark);
}

.btn-dark-outline {
  border: 1px solid var(--dark);
  background-color: transparent;
  color: var(--dark);
}

.btn-dark-outline:hover {
  border-color: var(--grey-dark);
  color: var(--grey-dark)
}

.btn-light {
  border: 1px solid var(--light);
  background-color: var(--light);
  color: var(--dark)
}

.btn-light:hover {
  border-color: var(--grey-light);
  background-color: var(--grey-light);
}

.btn-light-outline {
  border: 1px solid var(--light);
  background-color: transparent;
  color: var(--light);
}

.btn-light-outline:hover {
  border-color: var(--grey-light);
  color: var(--grey-light)
}

.link {
  display: inline-block;
  color: var(--support);
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover {
  color: var(--support-dark);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: var(--support);
}

.margin-right-sm {
  margin-right: 1.6rem;
}

.margin-right-md {
  margin-right: 4.8rem;
}

.center-text {
  text-align: center;
}

.strong {
  font-weight: 400;
}